@using ccisurvey.data.Models
@model ccisurvey.data.Models.Proposition

@{
    ViewData["Title"] = "AddPropositions";
    var survey = (Survey)ViewData["Survey"];
    var id = survey.Id;
}

<div class="all addProp">
    <div class="form-container">
        <div class="title">
            <h1>@survey.Label</h1>
            <svg
                @if (!survey.IsClosed)
                {
                    @:xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock-open" class="svg-inline--fa fa-lock-open fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M423.5 0C339.5.3 272 69.5 272 153.5V224H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48h-48v-71.1c0-39.6 31.7-72.5 71.3-72.9 40-.4 72.7 32.1 72.7 72v80c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-80C576 68 507.5-.3 423.5 0z"
                } else
                {
                    @:xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"
                }
            ></svg>
        </div>

        <div>
            <p>Par : @survey.User.Name</p>
            <p>
                <span>Créé le @survey.CreatedAt.Day/@survey.CreatedAt.Month/@survey.CreatedAt.Year</span>
            </p>
            <p>
                @if (survey.IsMultipleChoice)
                {
                    @:Choix multiple autorisé
                } else
                {
                    @:Choix unique
                }
            </p>

            <div>
                <div>
                    @if (survey.Propositions.Count == 0)
                    {
                        <p>Aucune proposition ajoutée pour le moment...</p>
                    } else
                    {
                        <table>
                            <tbody>
                                @foreach (var proposition in survey.Propositions)
                                {
                                    <tr>
                                        <td>
                                            @proposition.Label
                                        </td>
                                        <td>
                                            <a href="/">Supprimer</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div>
                    <form asp-action="AddProposition" asp-route-id="@survey.Id">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="Label"></label>
                            <input class="enter" asp-for="Label"/>
                            <span asp-validation-for="Label"></span>
                        </div>
                        <div class="form-group">
                            <input class="add" type="submit" value="Ajouter une proposition"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <a class="end" asp-action="View" asp-route-id="@survey.Id" >Finir</a>
        </div>
    </div>
</div>
