@using Microsoft.AspNetCore.Http
@using ccisurvey.data.Models
@model ccisurvey.services.VMs.ChoiceRadioViewModel

@{
    ViewData["Title"] = "View";
    var survey = (Survey)ViewData["Survey"];
    var user = (User)ViewData["User"];
    var check = false;
    var test = "";
}

<div class="all view">
    <div class="form-container">
        <div class="title">
            <h1 class="d-inline">@survey.Label</h1>

            @if (!survey.IsClosed)
            {
                <a asp-action="Close" asp-route-id="@survey.Id" title="Clôturer le sondage">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock-open" class="svg-inline--fa fa-lock-open fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M423.5 0C339.5.3 272 69.5 272 153.5V224H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48h-48v-71.1c0-39.6 31.7-72.5 71.3-72.9 40-.4 72.7 32.1 72.7 72v80c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-80C576 68 507.5-.3 423.5 0z" ></svg>
                </a>
            } else
            {
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" ></svg>
            }
        </div>

        <div>
            <p>Par : @survey.User.Name</p>
            <p>
                <span>Créé le @survey.CreatedAt.Day/@survey.CreatedAt.Month/@survey.CreatedAt.Year</span>
            </p>
            <p>
                @if (survey.IsMultipleChoice)
                {
                    @:Choix multiple autorisé
                } else
                {
                    @:Choix unique
                }
            </p>

            <hr class="hr-gray m-3 mb-4" />

            @if (survey.Description != null && survey.Description != "")
            {
                
                <p class="font-italic mx-sm-5">@survey.Description</p>

                <hr class="hr-gray m-3 mb-4" />

            }



            @if (survey.Propositions.Count == 0)
            {
                <p>Aucune proposition ajoutée pour le moment...</p>
            } else
            {
            }
            <div>
                <form asp-action="Vote" asp-route-id="@survey.Id" class="mt-0">

                    @foreach (var choice in survey.Propositions)
                    {
                        if (choice.Participants.Contains(user))
                        {
                            check = true;
                        } else
                        {
                            check = false;
                        }

                        <div class="form-group flex-column flex-sm-row">
                            <div class="left">
                                @if (!survey.IsClosed)
                                {
                                    if (survey.IsMultipleChoice)
                                    {
                                        <input class="input" type="checkbox" value="@choice.Id" name="@choice.Id" checked="@check" />
                                    } else
                                    {
                                        <input class="input" type="radio" id="@choice.Id" value="@choice.Id" name="RadioField" checked="@check" />
                                    }
                                }
                                <label for="@choice.Id">@choice.Label</label>
                            </div>
                            
                            <label for="@choice.Id">@choice.Participants.Count votants</label>
                        </div>
                    }

                    @if (!survey.IsClosed)
                    {
                        if (!survey.IsMultipleChoice)
                        {
                            <div class="form-group justify-content-start">
                                <div>
                                    <input style="margin-right: 10px;" id="no-choice-option" type="radio" value="no-choice" name="RadioField" />
                                </div>
                                <label for="no-choice-option">Retirer le vote</label>
                            </div>
                        }

                        <div class="mas-btn-container py-4">
                            <button class="mas-btn mas-btn-white" type="submit" value="Valider le vote">
                                Valider le vote
                            </button>
                        </div>

                        if (user.Id == survey.User.Id)
                        {
                            <hr class="hr-gray m-3 mb-4" />

                            <p class="text-center mb-4">
                                <a asp-action="AddProposition" asp-route-id="@survey.Id" class="mb-3">Ajouter / Modifier une proposition</a>
                                <a asp-action="AddParticipant" asp-route-id="@survey.Id" class="mb-3">Ajouter un participant</a>
                                @if (!survey.IsClosed)
                                {
                                    <a asp-action="close" asp-route-id="@survey.Id">Clôturer le sondage</a>
                                }
                            </p>

                        }
                    } else
                    {
                        <hr class="hr-gray m-3 mb-4" />
                        <p class="text-center mt-3">Sondage terminé&nbsp;!</p>
                    }
                </form>
            </div>

            @if (user.Id == survey.User.Id)
            {
                <!--
                    <div>
                        <button class="delete">Supprimer le sondage</button>
                    </div>
                -->
            }
        </div>
    </div>
</div>
