@using Microsoft.AspNetCore.Http
@using ccisurvey.data.Models
@model ccisurvey.services.VMs.ChoiceRadioViewModel

@{
    ViewData["Title"] = "View";
    var survey = (Survey)ViewData["Survey"];
    var user = (User)ViewData["User"];
    var check = false;
    var test = "";
}

<!--
<h1 class="d-inline">@survey.Label</h1>
<span>
    @if (!survey.IsClosed)
    {
        @:Ouvert
    } else
    {
        @:Fermé
    }
</span>

<div>
    <h4>Par : @survey.User.Name</h4>
    <p class="m-0">
        <span>Créé le @survey.CreatedAt.Day/@survey.CreatedAt.Month/@survey.CreatedAt.Year</span>
    </p>
    <p class="m-0">
        @if (survey.IsMultipleChoice)
        {
            @:Choix multiple autorisé
        } else
        {
            @:Choix unique
        }
    </p>

    <hr />

    @if (survey.Propositions.Count == 0)
    {
        <p class="fs-3">Aucune proposition ajoutée pour le moment...</p>
    } else
    {
        

    }
    <div class="col-12">
        <form asp-action="Vote" asp-route-id="@survey.Id">

            @foreach (var choice in survey.Propositions)
            {
                if (choice.Participants.Contains(user))
                {
                    check = true;
                } else
                {
                    check = false;
                }

                <div class="form-group">
                    @if (survey.IsMultipleChoice)
                    {
                        <input type="checkbox" value="@choice.Id" name="@choice.Id" checked="@check" />
                    } else
                    {
                        <input type="radio" id="@choice.Id" value="@choice.Id" name="RadioField" checked="@check" />
                    }
                    <label for="@choice.Id">@choice.Label</label>
                    <label for="@choice.Id">@choice.Participants.Count votants</label>
                </div>
            }

            @if (!survey.IsMultipleChoice)
            {
                <div class="form-group">
                    <input id="no-choice-option" type="radio" value="no-choice" name="RadioField" />
                    <label for="no-choice-option">Retirer le vote</label>
                </div>

            }
            


            <div class="form-group">
                <input type="submit" value="Valider le vote" class="btn btn-primary" />
            </div>
            @if (user.Id == survey.User.Id)
            {
                <p class="text-center">
                    <a asp-action="AddProposition" asp-route-id="@survey.Id">Ajouter / Modifier une proposition</a>
                </p>
            }
        </form>
    </div>

    <hr />

    @if (user.Id == survey.User.Id)
    {
        <div class="d-flex justify-content-end">
            <button class="btn btn-danger">Supprimer le sondage</button>
        </div>
    }
</div>
-->

<div class="view">
    <div class="top">
        <a href="/">
            <img class="logo" src="~/Image/logo.png" alt="logo" />
        </a>

        <div class="top-btn">
            <a href="/survey/create">
                <div class="plus">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                </div>
            </a>

            <a href="/home/mysurveys">
                <div class="person-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/></svg>
                </div>
            </a>
        </div>
    </div>

    <div class="form-container">
        <div class="title">
            <h1 class="d-inline">@survey.Label</h1>
            <svg
                @if (!survey.IsClosed)
                {
                    @:xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock-open" class="svg-inline--fa fa-lock-open fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M423.5 0C339.5.3 272 69.5 272 153.5V224H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48h-48v-71.1c0-39.6 31.7-72.5 71.3-72.9 40-.4 72.7 32.1 72.7 72v80c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-80C576 68 507.5-.3 423.5 0z"
                } else
                {
                    @:xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"
                }
            ></svg>
        </div>

        <div>
            <p>Par : @survey.User.Name</p>
            <p>
                <span>Créé le @survey.CreatedAt.Day/@survey.CreatedAt.Month/@survey.CreatedAt.Year</span>
            </p>
            <p>
                @if (survey.IsMultipleChoice)
                {
                    @:Choix multiple autorisé
                } else
                {
                    @:Choix unique
                }
            </p>

            @if (survey.Propositions.Count == 0)
            {
                <p>Aucune proposition ajoutée pour le moment...</p>
            } else
            {
            }
            <div>
                <form asp-action="Vote" asp-route-id="@survey.Id">

                    @foreach (var choice in survey.Propositions)
                    {
                        if (choice.Participants.Contains(user))
                        {
                            check = true;
                        } else
                        {
                            check = false;
                        }

                        <div class="form-group">
                            <div class="left">
                                @if (!survey.IsClosed)
                                {
                                    if (survey.IsMultipleChoice)
                                    {
                                        <input class="input" type="checkbox" value="@choice.Id" name="@choice.Id" checked="@check" />
                                    } else
                                    {
                                        <input class="input" type="radio" id="@choice.Id" value="@choice.Id" name="RadioField" checked="@check" />
                                    }
                                }
                                <label for="@choice.Id">@choice.Label</label>
                            </div>
                            
                            <label for="@choice.Id">@choice.Participants.Count votants</label>
                        </div>
                    }

                    @if (!survey.IsClosed)
                    {
                        if (!survey.IsMultipleChoice)
                        {
                            <div class="form-group justify-content-start">
                                <div>
                                    <input style="margin-right: 10px;" id="no-choice-option" type="radio" value="no-choice" name="RadioField" />
                                </div>
                                <label for="no-choice-option">Retirer le vote</label>
                            </div>
                        }

                        <input class="validate" type="submit" value="Valider le vote"/>

                        if (user.Id == survey.User.Id)
                        {
                            <p class="add">
                                <a asp-action="AddProposition" asp-route-id="@survey.Id">Ajouter / Modifier une proposition</a>
                            </p>
                        }
                    } else
                    {
                        <p class="text-center mt-3">Sondage terminé&nbsp;!</p>
                    }
                </form>
            </div>

            @if (user.Id == survey.User.Id)
            {
                <div>
                    <button class="delete">Supprimer le sondage</button>
                </div>
            }
        </div>
    </div>
</div>

<style scoped>
    body {
        background: #FDF1D8;
    }

    a {
        text-decoration: none!important;
    }

    a:hover {
        color: #FFFFFF;
    }

    .view {
        height: 100%;
        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .view * {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .top {
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }

    .logo {
        height: 60px;
        margin: 50px;
    }

    .top-btn {
        margin: 50px;
        flex-direction: row;
        right: 0px;
        top: 0px;
    }

    .plus, .person-fill {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        padding:10px;

        border-radius: 666px;

        color: #FFFFFF;
        background: #E86A92;
    }

    .plus *, .person-fill * {
        color: #FFFFFF;
    }

    .form-container {
        height: 100%;
        margin-inline: 50px;
        padding-inline: 20px;
        padding-top: 20px;
        border-radius: 20px;
        background: #2B2D42;
    }

    .form-container * {
        color: #FFFFFF;
        font-weight: 800;
        font-size: 16pt;
    }

    .form-container .title {
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .form-container .title h1 {
        
        font-size: 24pt;
        align-self: center;
    }

    .form-container .title svg {
        height : 20px;
        margin-left : 10px;
    }

    .form-container .form-group {
        margin-top: 20px;
        padding-inline: 10px;
        border-radius: 23px;
        background: #E86A92;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .form-container .left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form-container .input {
        margin-right: 10px;
        position: relative;
    }

    .form-container .validate {
        width: 250px;
        margin-top: 20px;
        border-radius: 23px;
        background: #FFFFFF;
        color: #2B2D42;

        align-self: center;
    }

    .form-container .add {
        margin-top: 20px;
        align-self: center;
    }

    .form-container .delete {
        width: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 23px;
        background: #FFFFFF;
        color: #2B2D42;

        align-self: center;
    }
</style>