@using ccisurvey.data.Models

@{
    var created = (List<Survey>)ViewData["Created"];
    var participating = (List<Survey>)ViewData["Participating"];
}

<div class="all mySurveys">
    <div class="form-container">
        <h1>Mes sondages</h1>

        <section class="mb-5">
            <h3 class="mb-3 mx-2">Mes sondages créés</h3>
            @if (created.Count > 0) {
                @foreach (var survey in created)
                {
                    <div class="survey flex-column flex-sm-row pb-2 pb-sm-0">
                        <a asp-controller="survey" asp-action="View" asp-route-id="@survey.Id">
                            <p>@survey.Label</p>
                        </a>

                        <p>@survey.CreatedAt.ToString("MM/dd/yyyy")</p>

                        @if (!survey.IsClosed)
                        {
                            <a asp-controller="survey" asp-action="close" asp-route-id="@survey.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock-open" class="svg-inline--fa fa-lock-open fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M423.5 0C339.5.3 272 69.5 272 153.5V224H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48h-48v-71.1c0-39.6 31.7-72.5 71.3-72.9 40-.4 72.7 32.1 72.7 72v80c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-80C576 68 507.5-.3 423.5 0z"></svg>
                            </a>
                        } else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"></svg>
                        }
                    </div>
                }
            } else
            {
                <p class="text-center mb-3" style="color: lightgray; font-size: 1.2rem">
                    Vous n'avez créé aucun sondage.
                </p>
                <div class="mas-btn-container">
                    <a asp-controller="survey" asp-action="create" class="mas-btn mas-btn-white" >
                        Créer un sondage
                    </a>
                </div>
            }
        </section>


        <section class="mb-3">
            <h3 class="mb-3 mx-2">J'y participe&nbsp;!</h3>
            @if (participating.Count > 0)
            {
                @foreach (var survey in participating)
                {
                    <div class="survey flex-column flex-sm-row pb-2 pb-sm-0">
                        <a asp-controller="survey" asp-action="View" asp-route-id="@survey.Id"><p>@survey.Label</p></a>

                        <p>@survey.CreatedAt.ToString("MM/dd/yyyy")</p>

                        <svg
                            @if (!survey.IsClosed)
                            {
                                @:xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock-open" class="svg-inline--fa fa-lock-open fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M423.5 0C339.5.3 272 69.5 272 153.5V224H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48h-48v-71.1c0-39.6 31.7-72.5 71.3-72.9 40-.4 72.7 32.1 72.7 72v80c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24v-80C576 68 507.5-.3 423.5 0z"
                            } else
                            {
                                @:xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"
                            }
                        ></svg>
                    </div>
                }
            } else
            {
                <p class="text-center mb-3" style="color: lightgray; font-size: 1.2rem">
                    Vous ne participez à aucun sondage.
                </p>
            }
        </section>
    </div>
</div>
